.navbar {
    z-index: 1;
    background-color: #0000;
    position: fixed;
    inset: 3.5rem 0% auto;
}

.nav-bar {
	z-index: 9999;
	border-bottom: 0.8px solid #0000;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 6rem;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	display: flex;
	position: relative;
  }
  
  .navbar_menu_0 {
	z-index: 9998;
	grid-column-gap: 0rem;
	grid-row-gap: 0rem;
	border-radius: 1rem;
	flex-direction: column;
	width: 7rem;
	height: auto;
	padding: 2.5rem 1.5rem 1rem;
	display: none;
	position: absolute;
	inset: 0% -1.5rem auto auto;
	overflow: hidden;
  }
  
  .navbar_menu-trigger {
	background-color: var(--light-black);
	cursor: pointer;
	border-radius: 1rem;
	justify-content: flex-end;
	align-self: flex-end;
	width: 5.375rem;
	height: 2rem;
	padding-left: .75rem;
	padding-right: .75rem;
	display: flex;
	position: absolute;
	inset: 1rem .75rem auto auto;
  }
  
  
  element.style {
	transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
  }
  .navbar_menu-wrap {
	grid-column-gap: .375rem;
	grid-row-gap: .375rem;
	align-items: center;
	display: flex;
	position: relative;
  }
  
  .navbar_menu-dot-mask {
	justify-content: center;
	align-items: center;
	width: .5rem;
	height: .5rem;
	display: flex;
	position: absolute;
	left: -1rem;
  }
  
  .navbar_menu-dot.background-purple {
	transform: scale3d(1none, 1none, 1none);
	transform-style: preserve-3d;
	flex: none;
	width: 100%;
	height: 100%;
	display: block;
	position: static;
  }
  .navbar_menu-dot {
	border-radius: 100vw;
	width: .5rem;
	height: .5rem;
	display: none;
	position: relative;
	overflow: hidden;
  }
  
  .nav_menu-text {
	z-index: 2;
	position: relative;
	overflow: hidden;
  }
  
  .text-block {
	mix-blend-mode: normal;
  }

  .navbar_menu-links {
    z-index: 10;
    transform-origin: 75% 0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
    position: relative;
}

.navbar_menu-link {
    z-index: 0;
    grid-column-gap: .375rem;
    grid-row-gap: .375rem;
    background-color: var(--purple);
    color: var(--slight-black);
    cursor: pointer;
    border-radius: .5rem;
    align-items: center;
    height: 2rem;
    margin-top: .25rem;
    margin-left: -.5rem;
    padding: .5rem;
    font-size: 1.25rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.navbar_dot.background-orange {
    background-color: var(--orange);
    width: 0;
    height: 0;
    display: block;
}

.body-white .navbar_link-bg, .body-white .navbar_dropdown-bg {
    background-color: white !important;
}

.navbar_dropdown-bg {
    z-index: -1;
    opacity: 0;
    perspective-origin: 0%;
    transform-origin: 0%;
    background-image: linear-gradient(90deg, #d6a3e40a, #d6a3e41f);
    width: 100%;
    position: absolute;
    inset: 0% auto 0% 0%;
}

.navbar_menu-dropdown-wrap {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
}

.navbar_menu-dropdown-link {
    grid-column-gap: .375rem;
    grid-row-gap: .375rem;
    color: black;
    cursor: pointer;
    align-items: center;
    margin-left: 0;
    padding: .25rem 0 .25rem .5rem;
    font-size: .875rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.navbar_dot.background-orange {
    background-color: orange;
    width: 0;
    height: 0;
    display: block;
}

.navbar_menu-link-text {
    white-space: pre;
    font-size: 1rem;}
