.header-about_container {
    background-color: #141414;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0;
    height: 110vh;
    position: relative;
    overflow: hidden;
}

.section-padding {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
}

.container-medium, .container-small, .container-large {
    margin-right: auto !important;
    margin-left: auto !important;
}
.container-large {
    width: 100%;
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
}

.padding-section-large {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.padding-top {
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}
.padding-large {
    padding: 3rem;
}

.header-about_wrapper {
    width: 100%;
    position: relative;
}

.header-about_heading-wrap, .header-about_content-wrap {
    display: flex;
}

.header-about_content-div {
    width: 28rem;
}

element.style {
    will-change: transform;
    transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.header-about_content {
    z-index: 2;
    flex-direction: column;
    display: flex;
    position: relative;
}

.subheading_mask {
    overflow: hidden;
}


element.style {
    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
}
.subheading_wrap.scroll-up {
    overflow: visible;
}
.subheading_wrap {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    align-items: center;
    display: flex;
    overflow: hidden;
}


.subheading_dot {
    border-radius: 100vw;
    width: .625rem;
    min-width: .625rem;
    height: .625rem;
    min-height: .625rem;
    margin-bottom: .125rem;
    position: relative;
    overflow: hidden;
}
.background-orange {
    background-color: var(--orange);
    color: var(--slight-black);
}

.text-style-subheading {
    z-index: 1;
    grid-column-gap: .25rem;
    font-family: Telegraf, sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 110%;
    display: flex;
    position: relative;
}

.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}
.padding-medium {
    padding: 1.5rem;
    display: block;
}

.header-about_heading-wrap, .header-about_content-wrap {
    display: flex;
}

.header-about_heading-wrap, .header-about_content-wrap {
    display: flex;
}


@media screen and (min-width: 991px) and (max-width: 1599px) {
    .heading-style-xlarge.is-about {
        font-size: min(max(5rem, 6vw), 6rem);
    }
}
.heading-style-xlarge.is-about {
    max-width: 64rem;
}
@media screen and (min-width: 992px) {
    .heading-style-xlarge {
        font-size: min(max(5rem, 6vw), 6rem);
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Telegraf, sans-serif;
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 104%;
}

.show-tablet, .show-mobile-portrait, .show-mobile-landscape {
    display: none;
}

@media screen and (min-width: 991px) and (max-width: 1599px) {
    .heading-style-xlarge.is-about {
        font-size: min(max(5rem, 6vw), 6rem);
    }
}
.heading-style-xlarge.is-about {
    max-width: 64rem;
}

.show-tablet, .show-mobile-portrait, .show-mobile-landscape {
    display: none;
}

.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}
.padding-large {
    padding: 3rem;
}

.header-about_body {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    justify-content: flex-start;
    align-items: center;
    height: 26rem;
    display: flex;
    position: relative;
}

.header-about_body-div {
    width: 18rem;
}

.header-about_body-wrap {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    align-items: flex-end;
    display: flex;
    overflow: hidden;
}

element.style {
    transform: translate3d(0px, -1.5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 0;
}
.max-width-small {
    width: 100%;
    max-width: 24rem;
}

.btn-scroll_mask {
    overflow: hidden;
}


element.style {
    transform: translate3d(0px, -1.5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 0;
}
.btn-scroll-down {
    border-bottom: .0625rem solid #48424e;
    border-radius: 0 0 1rem 1rem;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    display: flex;
    overflow: hidden;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a, .w-input, .w-select, .w-tab-link, .w-nav-link, .w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}


element.style {
    will-change: width, height;
    width: 47.1742rem;
    height: 32.7137rem;
}
@media screen and (min-width: 1200px) and (max-width: 1312px) {
    .header-about_img-wrapper {
        top: 18vw;
    }
}
.header-about_img-wrapper {
    border-radius: 2rem 0 2rem 2rem;
    width: 42rem;
    max-width: 100%;
    height: 32rem;
    position: absolute;
    inset: 10rem auto auto 0%;
}


element.style {
    will-change: transform;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-14.6474deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.label-ctc.is-about-header {
    z-index: 4;
    top: -4rem;
    left: 4rem;
    transform: rotate(-20deg);
}
.label-ctc {
    width: 8rem;
    position: absolute;
    inset: 0% auto auto 0%;
}

.header-about_img {
    border-radius: 2rem 0 2rem 2rem;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.header-about_div-tr {
    z-index: 1;
    background-color: #141414;
    border-bottom-left-radius: 2rem;
    width: 16rem;
    height: 7vw;
    max-height: 7rem;
    position: absolute;
    inset: -.0625rem -.0625rem auto auto;
}

.div-corner-24 {
    z-index: 3;
    width: 2rem;
    height: 2rem;
    position: absolute;
    inset: -.125rem auto auto -2rem;
    transform: translate(.1875rem);
}


.show-tablet, .show-mobile-portrait, .show-mobile-landscape {
    display: none;
}

.div-corner-16 {
    z-index: 3;
    width: 2rem;
    height: 2rem;
    position: absolute;
    inset: -.125rem auto auto -2rem;
    transform: translate(.1875rem);
}

svg[Gaya Atribut] {
    width: 100%;
    fill: none;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}


rect[Gaya Atribut] {
    width: 26px;
    height: 26px;
    fill: white;
}



path[Gaya Atribut] {
    fill-rule: evenodd;
    clip-rule: evenodd;
    d: path("M 26 0 H -18.0576 V 41.9707 H -18.0572 V 2 H 0 C 13.2548 2 24 12.7452 24 26 V 41.9707 H 26 V 0 Z");
    fill: rgb(20, 20, 20);
}


path[Gaya Atribut] {
    fill-rule: evenodd;
    clip-rule: evenodd;
    d: path("M 26 0 H -18.0576 V 41.9707 H -18.0572 V 2 H 8 C 16.8366 2 24 9.16344 24 18 V 41.9707 H 26 V 0 Z");
    fill: rgb(20, 20, 20);
}

.div-corner-16.is-bottom-right {
    inset: auto -.1875rem -2rem auto;
    transform: translateY(-.1875rem);
}
